In [14]:
import pandas as pd
from pandas import *
from IPython.display import Markdown as md
dataset = pd.read_csv("C:/Users/rain/Desktop/Project3.csv",error_bad_lines=False)
dataset.head()

b'Skipping line 565: expected 4 fields, saw 6\nSkipping line 917: expected 4 fields, saw 6\n'

,FirstName,LastName,Name,Title
0,Aaron,Mitchell,How Many More Times,Led Zeppelin I
1,Aaron,Mitchell,What Is And What Should Never Be,Led Zeppelin II
2,Aaron,Mitchell,Please Don't Touch,Ace Of Spades
3,Aaron,Mitchell,Já Foi,Demorou...
4,Aaron,Mitchell,Wild Side,Motley Crue Greatest Hits