In [43]:
import pandas as pd

airline_data = pd.read_csv("C:/Users/rain/Desktop/Project1.csv")

airline_data['Total_Alaska'] = airline_data['ALASKA_ontime'] + airline_data['ALASKA_delayed']
airline_data['Alaska_Percent_Delay'] = (airline_data['ALASKA_delayed'] / airline_data['Total_Alaska']) * 100
airline_data['Alaska_Percent_Delay']

0    11.091234
1     5.150215
2     8.620690
3    16.859504
4    14.212488
Name: Alaska_Percent_Delay, dtype: float64

In [44]:
airline_data['Total_AMWest'] = airline_data['AMWEST_delayed'] + airline_data['AMWEST_ontime']
airline_data['AMWest_Percent_Delay'] = (airline_data['AMWEST_delayed'] / airline_data['Total_AMWest']) * 100
airline_data['AMWest_Percent_Delay']

0    14.426634
1     7.897241
2    14.508929
3    28.730512
4    23.282443
Name: AMWest_Percent_Delay, dtype: float64

In [45]:
airline_data['Total_AMWest']

0     811
1    5255
2     448
3     449
4     262
Name: Total_AMWest, dtype: int64

In [47]:
airline_data['Total_Alaska']

0     559
1     233
2     232
3     605
4    2146
Name: Total_Alaska, dtype: int64

In [ ]:
"""
Although AMWest has more flights (7225 vs 3775), and has contributed to the amount of delays it has, 
Alaska is better in delays in comparison.
"""